<mat-grid-list cols="2" rowHeight="2:1" *ngIf="this.dataSourceOrder.data.length>0">
  <mat-grid-tile >

    <mat-grid-tile-header style="text-align: center;"> ORDERS </mat-grid-tile-header>

    <table style="width:100%;" mat-table [dataSource]="dataSourceOrder" matSort>

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (change)="onCheckboxChangeOrder(row)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ORDER ID </th>
        <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER NAME</th>
        <td mat-cell *matCellDef="let row"> {{row.customer_name}} </td>
      </ng-container>

      <ng-container matColumnDef="pro_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCT NAME</th>
        <td mat-cell *matCellDef="let row"> {{row.pro_name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsOrder"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsOrder;"></tr>
    </table>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header style="text-align: center;"> EMPLOYEES </mat-grid-tile-header>
    <table mat-table [dataSource]="dataSourceEmployee" matSort>
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-radio-button [value]="row.emp_id" #rbtOrderSelected (change)="onRadioBtnChangeEmployee(rbtOrderSelected.value)"></mat-radio-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPLOYEE NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.emp_name}} </td>
        <!-- ({{row.vehiclecount}}) -->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployee"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsEmployee;"></tr>
</table>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button (click)="onSubmit()" [disabled]="this.dataSourceOrder.data.length<=0"  color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon></mat-icon>Submit
    </button>

  </mat-grid-tile>
</mat-grid-list>

<label *ngIf="this.dataSourceOrder.data.length<=0">No Services</label>
